<container>
  <row class="header">
    <columns class="header__inner">
      <row>
        <columns class="header-logo" small="4" large="2">
          <a href="#"><img src="assets/img/logo.png" alt=""></a>
        </columns>
        <columns small="8" large="10">
          <row class="">
            <columns class="header-menu" large="6">
              <a href="#" class="header-menu__item header-menu__item_active">sale</a>
              <a href="#" class="header-menu__item">Мужчинам</a>
              <a href="#" class="header-menu__item">Женщинам</a>
              <a href="#" class="header-menu__item">Обувь</a>
              <a href="#" class="header-menu__item">Аксессуары</a>
            </columns>
            <columns class="header-phone" large="4">
              <p>
                <a class="header-phone__item" href="tel:+74956662270">+7 (495) 666-22-70</a><br>
                <a class="header-phone__item" href="tel:+79296487885">+7 (929) 648-78-85</a>
              </p>
            </columns>
          </row>
        </columns>
      </row>
    </columns>
  </row>
  <row class="slider">
    <columns class="slider__inner">
      <row>
        <columns large="6"></columns>
        <columns class="slider__content" large="6">
          <h1 class="text-center">Новая<br><span>коллекция</span></h1>

          <p class="text-center"><span class="slider__slogan">верхней одежды</span></p>

          <button class="slider__btn expand" href="#">подробнее</button>
        </columns>
      </row>
    </columns>
  </row>
  <row class="catalog-content">
    <columns>
      <h3>ЭЛЕКТРОННАЯ ДИСКОНТНАЯ КАРТА</h3>

      <p>Мы рады сообщить, что компания Affliction, стала поддерживать технологию Wallet (Passbook) для iPhone и
        Passwallet для Android платформ (необходимо скачать). Мы реализовали возможность выдачи нашим клиентам
        дисконтных карт в электронном формате.</p>

      <p>Теперь Вы всегда будете иметь карту под рукой, получать информацию о специальных акциях компании, скидках и
        многом другом!</p>
    </columns>
  </row>
  <row class="catalog">
    <columns large="4">
      <a href="#"><img class="float-center" src="assets/img/catalog-man_8393.jpg" alt=""></a>
      <p class="text-center">8 393 руб.</p>
    </columns>
    <columns large="4">
      <a href="#"><img class="float-center" src="assets/img/catalog-woman_74990.jpg" alt=""></a>
      <p class="text-center">8 393 руб.</p>
    </columns>
    <columns large="4">
      <a href="#"><img class="float-center" src="assets/img/catalog-man_16243_50.jpg" alt=""></a>
      <p class="text-center">16 243.50 руб.</p>
    </columns>
  </row>
  <row class="catalog">
    <columns large="4">
      <a href="#"><img class="float-center" src="assets/img/catalog-woman_34993.jpg" alt=""></a>
      <p class="text-center">16 243.50 руб.</p>
    </columns>
    <columns large="4">
      <a href="#"><img class="float-center" src="assets/img/catalog-man_16990.jpg" alt=""></a>
      <p class="text-center">16 990 руб.</p>
    </columns>
    <columns large="4">
      <a href="#"><img class="float-center" src="assets/img/catalog-woman_8393.jpg" alt=""></a>
      <p class="text-center">8 393 руб.</p>
    </columns>
  </row>
  <row class="catalog">
    <columns large="4">
      <a href="#"><img class="float-center" src="assets/img/catalog-man_16990-2.jpg" alt=""></a>
      <p class="text-center">16 990 руб.</p>
    </columns>
    <columns large="4">
      <a href="#"><img class="float-center" src="assets/img/catalog-woman_16990.jpg" alt=""></a>
      <p class="text-center">16 990 руб.</p>
    </columns>
    <columns large="4">
      <a href="#"><img class="float-center" src="assets/img/catalog-man_51992.jpg" alt=""></a>
      <p class="text-center">51 992 руб.</p>
    </columns>
  </row>
  <row class="catalog">
    <columns>
      <button class="catalog__btn expand" href="#">Смотреть всё</button>
    </columns>
  </row>
  <row class="discount collapse">
    <columns class="discout__inner">
      <row>
        <columns large="6">
          <h5 class="text-center">ЭЛЕКТРОННАЯ<br><span>ДИСКОНТНАЯ КАРТА</span></h5>

          <p class="text-center"><span class="discount__slogan">всегда в твоем кармане</span></p>

          <button class="discount__btn expand" href="#">Получить</button>
        </columns>
        <columns large="6" class="show-for-large">
          <row class="collapse">
            <columns class="discount__phone" large="5">
              <img class="float-right" src="assets/img/discount-phone.png" alt="">
            </columns>
            <columns class="discount__pic" large="1">
              <img src="assets/img/discount-pic.png" alt="">
              <p class="small">Дисконтная <br> карта в твоем <br> смартфоне</p>
            </columns>
          </row>
        </columns>
      </row>
    </columns>
  </row>
  <row class="social collapse">
    <columns class="social__inner">
      <callout>
        <h6 class="text-center">AfFliction в соцсетях</h6>
        <row>
          <columns small="6" large="3">
            <a href="#"><img class="float-center" src="assets/img/soc-v.png" alt=""></a>
          </columns>
          <columns small="6" large="3">
            <a href="#"><img class="float-center" src="assets/img/soc-i.png" alt=""></a>
          </columns>
          <columns small="6" large="3">
            <a href="#"><img class="float-center" src="assets/img/soc-f.png" alt=""></a>
          </columns>
          <columns small="6" large="3">
            <a href="#"><img class="float-center" src="assets/img/soc-y.png" alt=""></a>
          </columns>
        </row>
      </callout>
    </columns>
  </row>
  <row class="unsubscribe collapse">
    <columns>
      <callout>
        <p class="text-center">Цены, указанные в рассылке, действуют в собственных магазинах AFFLICTION <br> и могут измениться в
            дальнейшем.</p>
        <p class="unsubscribe__p text-center"><a href="#" class="small">Отписаться</a></p>
      </callout>
    </columns>
  </row>
  <row class="footer collapse">
    <columns>
      <button class="expand" href="#">www.afflictionrus.ru</button>
    </columns>
  </row>
</container>
